<ul class="nav nav-pills pull-right pointer">
    <li class="dropdown active">
        <a data-toggle="dropdown" class="dropdown-toggle">ng-scope<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a ng-href="#/scope">$scope</a></li>
            <li class="divider"></li>
            <li><a ng-href="#/rootScope">$rootScope</a></li>
            <li class="divider"></li>
            <li><a href="#/scopeLifecycle">scope-lifecycle</a></li>
            <li class="divider"></li>
            <li><a href="#/expressions">expressions</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle">data binding<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#">digest cycle</a></li>
            <li class="divider"></li>
            <li><a href="#">$inector</a></li>
            <li class="divider"></li>
            <li><a href="#">$compile</a></li>
            <li class="divider"></li>
            <li><a href="#">$apply</a></li>
            <li class="divider"></li>
            <li><a href="#">$watch</a></li>
            <li class="divider"></li>
            <li><a href="#">dirty checking</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle">ng-controller<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#">nested controllers</a></li>
            <li class="divider"></li>
            <li><a href="#">scope inheritance</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle">other services<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a ng-href="#/log">$log</a></li>
            <li class="divider"></li>
            <li><a href="#/event">$event</a></li>
            <li class="divider"></li>
            <li><a href="#/repeat">ng-repeat</a></li>
            <li class="divider"></li>
            <li><a href="#/specialProperties">Special Properties of ng-repeat</a></li>
        </ul>
    </li>
</ul>
<h3 class="text-muted">Angular Learning Demo</h3>