<div>
    <p><h4>Explaining $log</h4></p>
    <div ng-controller="LogController">
        <h5>
            Make sure to open a javascript console so you can see the output.
        </h5>
        <button ng-click="$log.log(message)">log</button>
        <button ng-click="$log.warn(message)">warn</button>
        <button ng-click="$log.info(message)">info</button>
        <button ng-click="$log.error(message)">error</button>
        <button ng-click="$log.debug(message)">debug</button>
    </div>
</div>
