<div ng-controller="SimpleController">

    First Name: <input type="text" ng-model="firstName">
    <br/>
    Last Name: <input type="text" ng-model="lastName"><br/>
    <br/>
    Full Name: {{firstName + " " + lastName}}

</div>
<br/>
<div>
    <p>
        The ng-controller directive names the controller object.

        The simpleController function is a standard JavaScript object constructor.

        AngularJS will invoke simpleController with a $scope object.

        In AngularJS, $scope is the application object (the owner of application variables and functions).

        The simpleController creates two properties (variables) in the scope (firstName and lastName).

        The ng-model directives bind the input fields to the controller properties (firstName and lastName).
    </p>
</div>